################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/fNabla/v16
/fNablaBatch/x64
/fNablaEngine/x64
/fNablaGUI/x64
/fNablaResources/Resources
/fSettingWidgetPlugin/x64/Release
/Signing
/x64
/Settings location.lnk
/fNablaEngine/Colormaps.py
/Deploy/fNabla.tmp
/Install location.lnk
